{%extends 'layout.html'%}


{% block banner%}
  <div class="center banner">
    <img src="public/image/fish.png" alt="">
    <h2></h2>
  </div>
{%endblock%}

{%block content%}
{% for content in contents %}
<a class="article_item" href="/view?contentid={{content.id}}">
  <h3>{{content.title}}</h3>
  <p class="info">
    <span>作者: <i>{{content.user.username}}</i></span>
    <span>点击: <i>{{content.views}}</i></span>
    <span>评论: <i>{{content.comments.length}}</i></span>
  </p>
  <div class="article_main">
    <p class="article_content ellipsis_4">{{content.description}}</p>
  </div>
  <div class="article_tag">
    <span>{{content.category.name}}</span>
    <i>{{content.addTime|date('Y-m-d H:i:s', -8*60)}}</i>
  </div>
</a>
{% endfor %}
{%endblock%}

{% block pages%}
{% if pages > 1 %}
<nav aria-label="..." id="pager_dh">
  <ul class="pager">
    {% if page <=1 %} <li class="previous"><span href="#"><span aria-hidden="true">&larr;</span>没有上一页了</span></li>
      {%else%}
      <li class="previous"><a href="/?category={{category}}&page={{page-1}}"><span aria-hidden="true">&larr;</span>上一页</a></li>
      {%endif%}
      <span class="page_text">{{page}} / {{pages}}</span>
      {% if page >=pages %}
      <li class="next"><span href="#">没有下一页了<span aria-hidden="true">&rarr;</span></li>
      {%else%}
      <li class="next"><a href="/?category={{category}}&page={{page+1}}">下一页<span aria-hidden="true">&rarr;</span></a></li>
      {%endif%}
  </ul>
</nav>
{%endif%}
{%endblock%}