<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/public/css/util.css">
  <link rel="stylesheet" href="/public/css/main.css">
  <link href="/public/image/favicon.ico" rel="shortcut icon">
  <link href="/public/css/bootstrap.min.css" rel="stylesheet">
  <script src="public/js/jquery-3.3.1.min.js"></script>
  <script src="public/js/main.js"></script>
  <link rel="stylesheet" href="/public/live2d/css/live2d.css" />
  <title>博客首页</title>
</head>

<body>
  <header>
    <div class="center">
      <a class="head_logo" href="javascript:void(0);">
        <img src="public/image/logo.png" alt="" />
      </a>
      <nav class="head_nav">
        {% if category == ''%}
        <a href="/" id="inactive">首页</a>
        {%else%}
        <a href="/">首页</a>
        {%endif%}

        {% for cate in categories%}
        {% if category == cate.id%}
        <a href="/?category={{cate.id}}" id="inactive">{{cate.name}}</a>
        {%else%}
        <a href="/?category={{cate.id}}">{{cate.name}}</a>
        {%endif%}
        {% endfor %}
      </nav>
    </div>
  </header>

  {% block banner%}
  {%endblock%}
  <div class="center">
    <div class="main_left">
      {% block content%}
      {%endblock%}
    </div>

    {% block pages%}
    {%endblock%}

    <aside class="main_right">
      {% if !userInfo._id %}
      <div class="user_form">
        <div class="user_tab j_userTab">
          <span class="user_cur">登录</span>
          <span>注册</span>
        </div>
        <div id="login" class="user_login">
          <div class="user_input">
            <i class="iconfont">&#xe60d;</i>
            <input type="text" placeholder="请输入用户名" name="username">
          </div>
          <div class="user_input margin_bottom0">
            <i class="iconfont">&#xe6c6;</i>
            <input type="password" placeholder="请输入密码" name="password">
          </div>
          <p class="user_err"><span>用户名不能为空</span></p>
          <p class="user_login_btn">登 录</p>
        </div>

        <div id="register" class="user_register">
          <div class="user_input">
            <i class="iconfont">&#xe60d;</i>
            <input type="text" placeholder="请输入用户名" name="username">
          </div>
          <div class="user_input">
            <i class="iconfont">&#xe6c6;</i>
            <input type="password" placeholder="请输入密码" name="password">
          </div>
          <div class="user_input margin_bottom0">
            <i class="iconfont">&#xe6c6;</i>
            <input type="password" placeholder="请再次输入密码" name="repassword">
          </div>
          <p class="user_err"><span>用户名不能为空</span></p>
          <p class="user_register_btn">注 册</p>
        </div>
      </div>

      {% else %}
      <div id="user_logined">
        <div class="user_tab j_userTab">
          <span class="discuss_title">用户信息</span>
        </div>
        {% if userInfo.isAdmin %}
        <p class="user_welcome">你好，<i>管理员</i></p>
        <a href="/admin" class="indexbtn btn btn-primary">进入管理</a>
        {% else %}
        <p class="user_welcome">欢迎，<i>{{userInfo.username}}</i></p>
        {% endif %}
        <span class="indexbtn btn btn-danger" id="logout">退出</span>

      </div>
      <div class="friendly_link">
        <div class="user_tab">
          <span class="discuss_title">友情链接</span>
        </div>
        <div class="link_item">
          <a href="http:www.zhihu.com">知乎</a>
        </div>
      </div>
      {%endif%}
      <p class="user_no">您是本网站的第<i>{{visiters}}</i>位访客祝您生活工作愉快</p>
      <p class="copy_right">All Rights Reserved for noobakong</p>
    </aside>

  </div>
  {% block comments%}
  {%endblock%}
  <div id="landlord">
    <div class="message" style="opacity:0"></div>
    <canvas id="live2d" width="280" height="250" class="live2d"></canvas>
    <div class="hide-button">隐藏</div>
  </div>

</body>
<script type="text/javascript">
  var message_Path = '/public/live2d/'
  var home_Path = 'https://haremu.com/'  //此处修改为你的域名，必须带斜杠
</script>
<script type="text/javascript" src="/public/live2d/js/live2d.js"></script>
<script type="text/javascript" src="/public/live2d/js/message.js"></script>
<script type="text/javascript">
  loadlive2d("live2d", "/public/live2d/model/tia/model.json");
</script>
</html>